body{
    background-color: aqua;
    margin: 0;
    padding: 0;
}

.nagykep{
    width: 70%;
    margin:auto;
    border-radius: 10px;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    display: flex;
}