body{
    background-color: aqua;
    margin: auto;
    padding: 0;
}

.nagykep{
    height: 550px;
    width: 630px;
    margin:auto;
    border-radius: 10px;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    display: flex;
}

#kisIMG{
    width: 200px;
    height: 200px;
}

#nagyIMG{
    margin:auto;
    border-radius: 10px;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    display: flex;
}
main{
    margin: auto;
}
button{
    border: 1px solid black;
    margin: 10px;
    
}